<h1>Club House</h1>

<% @posts.each do |post|%>
<div class="comment">
    <p class=text><%=post.comment%></p>
    <p class="author"> by:<%= user_signed_in? ? post.user.username : "private"%> </p>
</div>

<% end%>